body {
    margin: 0;
    padding: 0;
    background: url("https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(6px);
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.Share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.Share-button img {
    margin: auto;
    width: 25px;
    height: 25px;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    width: 100%;
    height: 56px;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(0.06, 1.14, 0.82, 1.4) 1s;
    transform: scale(1.03);
}


.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.tile-share {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
    margin: 8px;
}

.tile-share svg {
    margin-left: 12px;
    margin-top: 10px;
}

.icon {
    width: 44px;
    height: 44px;
    margin: 4px;
}

.Share-button svg {
    color: black;
}
